@media (max-width: 500px) {
	.openboxchat {
	    position: fixed;
	    bottom: 100px;
	    right: 0px;
	    z-index: 4444;
	}
}


@media (max-width: 767px) {
	.post-open-body {
	    padding: 0px;
	}

    .layout-sidebar {
        grid-area: sidebar;
        display: block;
    }

    .mob-box{
        padding: 20px;
        margin: 20px;
    }

    .table.full {
	    display: block;
	    overflow-x: scroll;
		margin-bottom: 20px;
	}
}